@import "../../styles/base";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalLayout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 20px);

  background-color: #fff;
}

.modalContent {
  width: 100%;
}

.closeBtnIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;

  @include tablet {
    & {
      top: 20px;
      right: 20px;
    }
  }
}
