@import "src/shared/styles/base";

.authNavLink {
  display: none;
  @include tablet {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: #858598;
    margin-right: 15px;
}
}

.active {
  display: none;
  @include tablet{
    display: block;
    color: #000000;
  }
}

.authNavItem:nth-last-child(2) {
    display: none;
    @include tablet{
      display: flex;
      &::after {
      content: "";
      height: 19px;
      border: 1px solid #858598;
      margin-right: 15px;
    }
  }
}
