$primary-text-color: #000000;
$secondary-text-color: #858598;
$third-text-color: #a6abb9;
$primary-bg-color: #ffbc33;
$accent-color: #ffaf0f;
$secondary-bg-color: #f6f7fb;
$primary-btn-text-color: #fafafa;
$white-color: #ffffff;

$tablet: 620px;
$tablet-end: 1199px;
$mobile: 540px;
$mobile-end: 991px;
$desktop: 1200px;
$desktop-end: 1199px;
