@import "src/shared/styles/base";
@import "src/shared/styles/common";

.mainPage {
  @include tablet {
    padding-top: 40px;
    margin-bottom: 0;
  }
  @include desktop {
    min-width: 1040px;
  }
  &Btn {
    @include flex(center, center);
    font-weight: 500;
    letter-spacing: 0.02em;
    height: 48px;
    max-width: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    text-decoration: none;
    color: $white-color;
    background-color: $primary-bg-color;
    border-radius: 6px;
    transition: background-color 250ms linear;
    @include tablet {
      margin-bottom: 102px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
  }
  &Btn:hover,
  Btn:focus {
    background-color: $accent-color;
  }
  &Text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 20px;
  }
  &Container {
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }
  &FooterWrapper {
    margin-top: 49px;
    margin-bottom: 41px;
  }
  &WrapperMobile {
    padding: 14px;
    height: 68px;
    margin-top: 23px;
    background: #f1f1f1;
    @include tablet {
      display: none;
    }
  }
  &Wrapper {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 25px;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}

.myTasks {
  font-weight: 500;
  color: $third-text-color;
  margin-bottom: 2px;
  text-align: center;
  @include tablet {
    margin-right: 20px;
  }
  @include desktop {
    @include flex();
  }
}

.currentDay {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  @include mobile-end {
    text-align: center;
  }
  @include desktop {
    @include flex();
  }
}

.currentDayContainer {
  @include tablet {
    @include flex();
    margin-top: 25px;
    margin-bottom: 103px;
  }
  @include desktop {
    margin-bottom: 0px;
  }
}

.wrapper {
  text-align: center;
  margin-bottom: 61px;
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  @include desktop {
    justify-content: space-around;
    flex-direction: row;
    text-align: start;
    margin-bottom: 94px;
  }
}

.containerTaskList {
  @include desktop {
    margin-left: 75px;
  }
}
