@import "src/shared/styles/base";
@import "src/shared/styles/common";

.currentWeek {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.21;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    display: block;
    font-size: 18px;
    line-height: 1.222;
    margin-bottom: 30px;
  }
}
