.awardsPrice {
  width: 86px;
  background: #5679d7;
  color: #ffffff;
  text-transform: uppercase;
  padding: 3px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 3px;
}

.awardsTitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 4px;
}

.awardsCardFooter {
  display: flex;
  justify-content: space-between;
  background: #ffbc33;
  border-radius: 0px 0px 6px 6px;
  padding: 20px 14px;
}

.awardsImg {
  background-color: #ffffff;
  border-radius: 6px 6px 0px 0px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
}
